/*DEVELOPER: Roberto Ambrocio Jr, IS117-003, Fall 2023 */

/* Styling for elements */
body {
    background-image: url('../images/WebsiteBackgroundImg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* Styling for nav bar */
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    margin-top: 1.5%;
    color: white !important;
    background-color: black !important;
}
.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}
.navbar-nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    font-family: 'Kalam';
}
.navbar-form {
    display: flex;
    align-items: center;
}
.nav-link {
    color: white !important;
}
.dropdown-menu {
    background-color: black;
}
.dropdown-item {
    color: white;
}
.form-control {
    margin-left: 2%;
}

/*****
    BAR MENU 
    SECTION 
*****/
.barMenu {
    background-color: black;
    color: white;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Kalam';
}
.barMenu img {
    border: solid white 1px;
}
.barMenu h1 {
    margin-top: 1%;
}
.barMenu a {
    font-family: 'Kalam';
    font-size: 125%;
    text-decoration: none;
    color: white;
}
.imgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.smurf {
    width: 40%;
    height: 70%;
    margin-top: 3%;
    margin-left: 10%;
}
.oreo {
    width: 35%;
    height: 80%;
    margin-right: 5%;
    float: inline-end;
}
.margarita {
    width: 30%;
    height: 85%;
    margin-right: 30%;
    float: inline-end;
}
.pina {
    width: 40%;
    height: 85%;
    margin-right: 40%;
    float: inline-end;
}
/* Menu Drinks Page */
.subMenuItem {
    background-color: black;
    color: white;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Kalam';
}
.subMenuItem img {
    float: left;
    border: solid white 1px;
    height: 75%;
    margin-left: 5%;
    margin-top: 4%
}
.subMenuItem p {
    font-family: 'Kalam';
    font-size: 150%;
    display: block;
    clear: left;
    float: left;
    margin-top: 1%;
    margin-left: 10%;
}
.subMenuText {
    width: 60%;
    top: 0;
    margin-left: 35%;
    margin-top: 5%;
    text-align: center;
    font-size: 120%;
}
.list {
    text-align: center;
}
/* Social Media Page */
.socialMedia {
    background-color: black;
    color: white;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Kalam'
}
.socialMedia h1 {
    margin-top: 5%;
}
.socialMedia h2 {
    margin-top: 8%;
}
.socialMedia img {
    height: 15%;
}
.socialMedia .text {
    margin-top: 7%;
}
/* Contact Page */
.contactPage {
    background-color: black;
    color: white;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Kalam';
}
.contactPage .btn.btn-primary {
    font-family: 'Kalam';
}
/* Styling for footer */
footer {
    position: fixed;
    color: white;
    width: 65%;
    bottom: 0;
}
footer a {
    color: white;
    float: left;
    display: block;
    width: 30%;
    margin-top: 8%;
    font-family: 'Arial-Sans';
}